#nprogress .bar {
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image {
    width: 50%;
    max-height: 300px;
    background-size: cover;
    border: 6px solid black;
    margin-left: auto;
    margin-right: auto;
}

hr{
    background-color: black;
}

.mainNav
{
    background-color: rgb(32, 32, 78);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 70px;
}
.content{
    padding-top: 80px;
}
.content1{
    padding-top: 50px;
}
.content2{
    padding-top: 120px;
}

.fsize{
    font-size: 20px;
}